<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<title>Tails of the AfterGlow</title>
		<meta name="title" content="Tails of the AfterGlow">
		<meta name="description" content="Tails of the Afterglow is a unique collection of 4,266 dope foxes roaming around the grounds of Polygon Blockchain.">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://tailsafterglow.io/">
		<meta property="og:title" content="Tails of the AfterGlow">
		<meta property="og:description" content="Tails of the Afterglow is a unique collection of 4,266 dope foxes roaming around the grounds of Polygon Blockchain.">
		<meta property="og:image" content="/img/rdgNFT/hero-bg.jpg">
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://tailsafterglow.io/">
		<meta property="twitter:title" content="Tails of the AfterGlow">
		<meta property="twitter:description" content="Tails of the Afterglow is a unique collection of 4,266 dope foxes roaming around the grounds of Polygon Blockchain.">
		<meta property="twitter:image" content="/img/rdgNFT/hero-bg.jpg">
		<link href="img/rdgNFT/tag.jpg" rel="icon">
		<link href="img/rdgNFT/tag.jpg" rel="apple-touch-icon">
		<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>
	<body>